:root {  
  --color-light: hsl(0, 0%, 96%);
  --color-dark: hsl(0, 0%, 21%);
  --color-primary: hsl(171, 100%, 41%);
  --color-info: hsl(204, 86%, 53%);
  --color-link: hsl(217, 71%, 53%);
  --color-success: hsl(141, 71%, 48%);
  --color-warning: hsl(48, 100%, 67%);
  --color-danger: hsl(348, 100%, 61%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #152614;
}

a.active {
  color: black;
  font-weight: bold;
  cursor: default;
}

.App {
  padding: 1rem 2rem;
  display: flex;
}

.main {
  flex: 0 1 100%;  
}

.board {
  border: 1px solid black;
  min-height: 90vh;
  width: 100%;
  background-color: var(--color-light);
  padding: 1rem;
}

.BigFlashCard {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
  padding: 1rem 2rem;
  margin: 2rem auto;
  width: 75%;
  background-color: white;
}

.Stacks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.Stack {
  height: 300px;
  width: 180px;
  margin: 20px 10px;
  position: relative;
  text-align: center;
}

.Stack__fg {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.25);
  background-color: white;
  z-index: 999;
  position: absolute;
}

.Stack__content {
  z-index: 999;
}

.Stack__bg {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.5);
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
}

.Stack__fg:hover {
  cursor: pointer;
  background-color: var(--color-link);
  color: var(--color-light);
}

.Stack__content {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Stack__addStack {
  font-size: 400%;
  font-weight: bold;
}

.stackNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stackTitle {
  font-size: 1.5rem;
  font-weight: 600;
  /* margin-bottom: 15px; */
  line-height: 1.5rem;
}

.miniCardsView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: .75rem;
  padding: .75rem;
}

.miniCard {
  height: 300px;
  width: 180px;
  margin: 15px 7px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.5);
  background-color: white;
  padding: 10px;
  text-align: center;    
}

.miniCard:hover {
  cursor: pointer;
  background-color: var(--color-link);
  color: var(--color-light);
}

.minicard:hover .cardDeleteButton {
  color: var(--color-light);
  background-color: var(--color-link);
}

.Card__content {
  font-size: .75rem;
  line-height: .75rem;
  font-weight: bold;
  overflow: scroll;
}


.edit-runDiv {
  text-align: right;
} 

.editTitleButton, .cancelTitleEditButton {
  border: none;
  display: inline-block;
  font-size: 1rem;
  background: transparent;
  margin: 0 0 0 10px;
  padding: 0;
  }

.editTitleButton:hover {
  color:hsl(348, 100%, 61%);
}

.cancelTitleEditButton:hover {
  color:hsl(348, 100%, 61%);
}

.cardDeleteandEditButton {
  float: right;
}

.cardDeleteButton{
  margin-bottom: 4px;
  border: none;
  color:lightgray;
  font-size: 1rem;
  background-color: transparent;
}

.cardDeleteButton:hover {
  color:hsl(348, 100%, 61%);
  font-size: 1rem;
}

.Card__addCardSymbol {
  font-size: 300%;
}

.Card__addCardText {
  font-size: .75rem;
  font-weight: 400;
  line-height: .75rem;
}

.Card__addCard:hover {
  cursor: pointer;
  background-color: var(--color-link);
  color: var(--color-light);
}

.addStack {
  height: 50vh;
  min-width: 225px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 699px) {
    
  .edit-runDiv {
    display: block;
    margin: 0 auto;
    white-space: nowrap;
  }
}

 
.card-outline {
  border: 1px solid black;
  max-width: 40%;
  margin: 25px auto;
  height: 65vh;
  border-radius: 15px;
}

.card-run {
  border: 1px solid black;
}
.card-front {
  padding: 25px;
  font-size: 20px;
  text-align: center;
  height: 78%;
  clear: both;
  overflow: auto;
}

.card-back {
  padding: 0px 25px;
  font-size: 20px;
  text-align: center;
  height: 70%;
  clear: both;
  overflow: auto;
}

.flip-card:hover, .thumbs-down:hover, .thumbs-up:hover {
  font-size: 3rem;
}

.flip-card {
  font-size: 2.6rem;
  padding: 0px 47% 0px 44%;
  color: black;
}

.flip-card:hover {
  color: blue;
  font-size: 3.4rem;
}

.thumbs-down {
  padding: 0px 0px 0px 15%;
  color: red;
  font-size: 2.5rem;
}

.thumbs-up {
  padding: 0px 9% 0px 46%;
  color: green;
  font-size: 2.5rem;
}

.back-arrow-container {
  float: left;
}

.back-arrow {
  color: gray;
  padding: 5px 10px;
  font-size: 2rem;
}

.back-arrow:hover {
  color: black;
  font-size: 2.4rem;
}

.Stack__newStack {
  background-color: var(--color-info)
}
.Stack__new-stack-name {
  font-size: 15px;
  font-weight: bolder;
  max-width: 150px;
}
.save-new-stack {
  margin-top: 15px;
}
.save-new-stack:hover {
  background-color: var(--color-success)
}
.cancel-new-stack:hover {
  background-color: var(--color-danger)
}

.Spinner {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 3px solid var(--color-info);
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: inline-block;
  height: 1em;
  position: relative;
  width: 1em;
}

@media only screen and (min-width: 1025px) {
  .sidebar {
    flex: 0 0 300px;
  }
}


@media only screen and (max-width: 1024px) {
  .App {
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-content: flex-start; 
  }
  .sidebar-user-info {
    margin: 0 0 10px 0;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
  }
}

