:root {  
  --color-light: hsl(0, 0%, 96%);
  --color-dark: hsl(0, 0%, 21%);
  --color-primary: hsl(171, 100%, 41%);
  --color-info: hsl(204, 86%, 53%);
  --color-link: hsl(217, 71%, 53%);
  --color-success: hsl(141, 71%, 48%);
  --color-warning: hsl(48, 100%, 67%);
  --color-danger: hsl(348, 100%, 61%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #152614;
}

a.active {
  color: black;
  font-weight: bold;
  cursor: default;
}

.App {
  padding: 1rem 2rem;
  display: flex;
}

.sidebar {
  flex: 0 0 300px;
}

.main {
  flex: 0 1 100%;  
}

.board {
  border: 1px solid black;
  min-height: 90vh;
  width: 100%;
  background-color: var(--color-light);
  padding: 1rem;
}

.BigFlashCard {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
  padding: 1rem 2rem;
  margin: 2rem auto;
  width: 75%;
  background-color: white;
}

.Stacks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.Stack {
  height: 300px;
  width: 180px;
  margin: 20px 10px;
  position: relative;
}

.Stack__fg {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.25);
  background-color: white;
  z-index: 999;
  position: absolute;
}

.Stack__content {
  z-index: 999;
}

.Stack__bg {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.5);
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
}

.Stack__fg:hover {
  cursor: pointer;
  background-color: var(--color-link);
  color: var(--color-light);
}

.Stack__content {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Stack__addStack {
  font-size: 400%;
  font-weight: bold;
}

.stackNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stackTitle {
  font-size: 1.5rem;
  font-weight: 600;
  /* margin-bottom: 15px; */
  line-height: 1.5rem;
}

.miniCardsView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: .75rem;
  padding: .75rem;
}

.miniCard {
  height: 150px;
  width: 100px;
  margin: 15px 7px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.5);
  background-color: white;
  padding: 10px;
  text-align: center;    
}

.miniCard:hover {
  cursor: pointer;
  background-color: var(--color-link);
  color: var(--color-light);
}

.minicard:hover .cardDeleteButton {
  color: var(--color-light);
  background-color: var(--color-link);
}

.Card__content {
  font-size: .75rem;
  line-height: .75rem;
  font-weight: bold;
  overflow: scroll;
}


.edit-runDiv {
  white-space: nowrap;
  margin: 0 auto;
} 

.editModeButton {
  border-radius: 4px 0 0 4px;
  border-right: none;
  font-size: .75rem;  
}

.editModeButton:hover {
  color: white;
  background-color: hsl(217, 71%, 53%);
}

.runModeButton {
  border-radius: 0 4px 4px 0;
  font-size: .75rem;  
}

.runModeButton:hover {
  color: white;
  background-color: hsl(217, 71%, 53%);
}

.editTitleButton, .cancelTitleEditButton {
  border: none;
  display: inline-block;
  font-size: 1rem;
  background: transparent;
  margin: 0 0 0 10px;
  padding: 0;
  }

.editTitleButton:hover {
  color:hsl(348, 100%, 61%);
}

.cancelTitleEditButton:hover {
  color:hsl(348, 100%, 61%);
}

.cardDeleteButton{
  margin-bottom: 4px;
  border: none;
  color:lightgray;
  font-size: 1rem;
  background-color: transparent;
}

.cardDeleteButton:hover {
  color:hsl(348, 100%, 61%);
  font-size: 1rem;
}

.Card__addCard {
  height: 150px;
  width: 100px;
  margin: 15px 7px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.5);
  background-color: white;
  text-align: center; 
  font-weight: bold;
}

.Card__addCardSymbol {
  font-size: 300%;
}

.Card__addCardText {
  font-size: .75rem;
  font-weight: 400;
  line-height: .75rem;
  overflow: scroll;
}

.Card__addCard:hover {
  cursor: pointer;
  background-color: var(--color-link);
  color: var(--color-light);
}

.addStack {
  height: 50vh;
  min-width: 225px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 699px) {
    
  .edit-runDiv {
    display: block;
    margin: 0 auto;
    white-space: nowrap;
  }
}

 