* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  padding: 1rem 2rem;
  display: flex;
}

.sidebar {
  flex: 0 0 300px;
}

.main {
  flex: 0 1 100%;  
}

.board {
  border: 1px solid black;
  height: 90vh;
  width: 100%;
}

.FlashCardContainer {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
  padding: 1rem 2rem;
  margin: 2rem auto;
  width: 75%;
}

.miniCard {
  border: 1px solid gray;
  border-radius: 2px;
  height: 300px;
  padding: 20px;
  text-align: center;    
}

.container {
  margin: 20px;
}

.stackTitle, .editTitleButtonDiv, .deleteFlashCardDiv, .edit-runDiv {
  display: inline-block;
  vertical-align: top;
}

.stackTitle {
  max-width: 60%;
}

.editTitleButton, .deleteFlashCardButton, .editViewButton, .runViewButton {
  border-radius: 2px;
  font-size: 2rem;
}

.editViewButton, .runViewButton {
  float: right;
  font-size: 1.25rem;  
}

.editTitleButton, .deleteFlashCardButton {
  margin: 10px 10px;
}

.cardDeleteButton{
  float: right;
  border: none;
  color: white;
}

miniCard:hover {
  float: right;
  color: red;
  font-size: 1.25rem;
}